li {
  list-style-type: none;
  border: 1px solid white;
  height: 100px;
  width: 200px;
  padding: 10px;
  font-size: 12px;
  color: white;
}
.btn {
  height: 50px;
  width: 50px;
}
.hi {
  background-color: transparent;
}
.art {
  height: 30px;
  width: 60px;
}
